@charset "UTF-8";
.navbar {
  background-color: #353A40;
}

.nav-link:hover {
  color: white !important;
}

.conferencia {
  height: 87vh;
  width: 100%;
  background-image: url("../img/ba1.jpg");
  background-position: center;
  background-size: cover;
}
.conferencia__backgroundfilter {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  backdrop-filter: brightness(0.75);
}
.conferencia__details {
  width: 70%;
  margin: auto;
  color: white;
  font-weight: 600;
  text-align: end;
}
.conferencia__details h1 {
  font-size: 2rem;
}
.conferencia__details p {
  font-size: 1rem;
}

/* CAROUSEL
-------------------------------------------------- */
.bg-carousel-ba1 {
  background-image: url(../img/ba1-min.jpg);
}

.bg-carousel-ba2 {
  background-image: url(../img/ba2-min.jpg);
}

.bg-carousel-ba3 {
  background-image: url(../img/ba3-min.jpg);
}

.carousel-item {
  background-size: cover;
  background-position: center center;
}

.carousel-item svg {
  opacity: 0.5;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 37rem;
  min-height: 95vh;
}

.oradores {
  margin-bottom: 3rem;
}
.oradores__card__text {
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.oradores__label {
  border-radius: 4px;
  padding: 1px 5px;
  font-size: 0.7rem;
  font-weight: 700;
}

.label--js {
  background-color: #FFC207;
}

.label--react {
  background-color: #16A2B9;
  color: white;
}

.label--negocios {
  background-color: #6D7A83;
  color: white;
}

.label--startups {
  background-color: #D9353E;
  color: white;
}

.placeTime {
  border: red solid 1px;
}
.placeTime__viewImage {
  background-image: url("../../src/img/honolulu.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
}
.placeTime__detailsContainer {
  background-color: #353A40;
  color: white;
  padding: 10px;
}

.btn-enviar {
  background: #96c93e !important;
  color: #fff !important;
}

.btn-enviar:hover {
  background: #74aa17 !important;
}

/* HEADER
------------------------- */
.navbar-dark .navbar-nav .btn-compra-tickets {
  color: #25a342;
}

@media (min-width: 992px) {
  .btn-compra-tickets {
    border: 1px solid transparent;
    border-radius: 0.8rem;
  }
  .btn-compra-tickets:hover,
  .navbar-dark .navbar-nav .btn-compra-tickets.active {
    background: #25a342;
  }
}
.pt-section {
  padding-top: 3rem;
}

/* ESTILOS TITULOS
-------------------------------------------------- */
.titulo-gral {
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
}

.titulo-gral span {
  display: block;
  font-weight: 700;
  font-size: 2.2rem;
}

/* FORMULARIO CONVIÉRTETE EN ORADOR
-------------------------------------------------- */
.btn-form {
  background: #96c93e !important;
  color: #fff !important;
}

.btn-form:hover {
  background: #74aa17 !important;
}

/* FORM COMPRAR TICKETS
-------------------------------------------------- */
#totalPago {
  font-size: 1.4rem;
  font-weight: 700;
}

footer {
  background-color: #163D54;
}

/*# sourceMappingURL=styles.css.map */
